<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Assign Student to Group</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
<form th:action="@{'/students/assignToGroup/' + ${groupId}}" method="post">
    <div class="form-group">
        <label for="student">Select student:</label>
        <select id="student" name="studentId" class="form-control">
            <option th:each="student : ${students}" th:value="${student.id}"
                    th:text="${student.firstName} + ' ' + ${student.lastName}"></option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Assign</button>
</form>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>